// Color variables
$color-pink: #eb298c !default;
$color-white: #fff !default;
$color-dark-grey: #666 !default;
$color-light-grey: #999 !default;
$color-very-light-grey: #eee !default;
$color-blue: #53B0EB !default;
$color-green: #00AB6C !default;
$color-orange: #ED5B33 !default;
$color-primary: $color-pink !default;

// Font variables
$font-size-small: 0.813rem !default;
