@import '../../styles/variables';
@import '../../styles/mixins';

// Intro
.intro {
  @include flex(center);
  text-align: center;

  &__title {
    color: $color-dark-grey;
    font-weight: 300;
    font-size: 1.250rem;
  }
}

@media only screen and (max-width: 480px) {
  .intro {
    &__title {
      font-size: 1rem;
    }
  }
}
